<html xmlns:th="http://www.thymeleaf.com"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <header data-th-fragment="header-clean">
        <nav id="navbar">
            <div class="logo">
                <a th:href="@{/}">
                    <img alt="logo ENI-Auctions" src="/images/logo_ENI_auctions.png" id="logo-img">
                </a>
            </div>
            <div class="auth-links" sec:authorize="!isAuthenticated()">
                <a th:href="@{/signup}" class="link">S'inscrire</a>
                <a th:href="@{/login}" class="link">Se connecter</a>
            </div>
            <div class="auth-links" sec:authorize="isAuthenticated()">
                <a th:href="@{/auctions}" class="link">Enchères</a>
                <a th:href="@{/auctions/newArticle}" class="link">Vendre un article</a>
                <a th:href="@{/logout}" class="link">Déconnexion</a>
            </div>
        </nav>
    </header>
</html>
