
main{
	width:90%;
	max-width:1200px;
	margin:150px auto 0;
}

.title{
	text-align:center
}

.subtitle{
	margin-bottom:10px;
}

.filter-container form{
	display:flex;
	gap:10%;
	align-items:center;
	border-bottom:1px solid #888;
	background-color: #ffffff;  
  	border-radius: 5px;
  	padding: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	margin-bottom:50px;
}
.inputs-container{
	width:60%;
	min-height:80px;
}

.inputs-container #inputSearch{
	width:100%;
	padding:10px 20px;
	font-size:18px;
	border:1px solid #888;
	border-radius:10px;
}

.inputs-container .category{
	margin-top:10px;
	display: flex;
	align-items:center;
	gap:10%;
	width:100%;
}

.inputs-container .category select{
	font-size:16px;
	flex-grow:1;
}

.achat-vente-container{
	margin-top:10px;
	display:flex;
}

.achat-vente-container > div{
	width:50%;
}

.achat-vente-container .sub-container{
	margin-left:30px;
}

.achat-vente-container .sub-container input{
	margin-top:10px;
}


.button-container{
	flex-grow:1;
}

.button-container button{
	min-height:80px;
	min-width:150px;
	padding:20px 50px;
	background-color: #2196F3;
	color:#f1f1f1;
	font-size:18px;
	font-weight:500;
	border-radius:5px;
	border:none;
	transition: background-color 0.3s ease;
	
}

.button-container button:hover{
	background-color: #1976D2;
	cursor:pointer;
}

.articles-cards-container{
	display:grid;
	grid-template-columns:repeat(auto-fill, minmax(300px,1fr));
	gap:30px;
	margin-bottom:100px;
}

.article-card{
	padding:10px 20px 30px;
	border: 1px solid #999;
	border-radius:10px;
}

.article-card p{
	margin-top:5px;
}

/* Responsive page d'accueil auction*/
@media only screen and (min-width: 300px) and (max-width: 1280px) {
  .filter-container form {
    flex-direction: column;
    align-items: stretch;
    padding: 40px; 
  }

  .inputs-container {
    width: 100%;
  }

  .button-container {
    margin-top: 20px;
    width: 100%;
  }

  .button-container button {
    min-width: initial;
    width: 100%;
    font-size: 2.4rem; 
  }

  .inputs-container #inputSearch {
    font-size: 2.4rem; 
  }

 	.inputs-container .category select {
    font-size: 2.4rem; 
  }

	.inputs-container .category select option {
    font-size: 1.2rem;
  }
  
   .inputs-container .category select {
    border: 1px solid #888;
    border-radius: 10px;
    padding: 10px 20px;
  }

  .subtitle {
    font-size: 2.4rem;
  }

  .achat-vente-container > div > label {
    font-size: 2.4rem; 
  }

  .achat-vente-container .sub-container input + label {
    font-size: 2.6rem; 
  }

  .article-card {
    font-size: 2.4rem; 
  }


  .achat-main-check label,
  .ventes-main-check label {
    font-size: 2.8rem;
  }
  
   .category label {
    font-size: 2.8rem;
  }
  
  .sub-container input[type="checkbox"] {
    width: 25px;
    height: 25px;
    margin-right:10px;
  }
  
  .ventes-main-check input[type="radio"] {
    width: 25px;
    height: 25px;
  }
  
  .achat-main-check input[type="radio"] {
    width: 25px;
    height: 25px;
  }
}



