main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

label {
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 10px;
  white-space: nowrap; 
}

input[type="email"] {
  padding: 10px;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex-grow: 1; 
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

button[type="submit"] {
  padding: 15px 30px;
  font-size: 1.2rem;
  background-color: #2196F3;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #1976D2;
}

.message-container {
  margin-top: 20px;
  text-align: center;
  font-size: 1.2rem;
  color: red; 
}

@media only screen and (min-width: 300px) and (max-width: 1280px) {
    main {
        justify-content: center;
    }

    .title {
        font-size: 4.5rem;
    }

    form {
        max-width: 95%;
        width: 100%;
    }

    .input-container {
        flex-direction: column; 
        align-items: flex-start; 
    }

    label {
        font-size: 2.25rem;
        margin-bottom: 10px; 
        margin-right: 0; 
    }

    input[type="email"] {
        font-size: 3rem;
        padding: 30px;
        width: 100%; 
    }

    button[type="submit"] {
        font-size: 2.75rem;
        padding: 35px 80px;
    }

    .button-container {
        width: 100%;
    }
}