/* CSS pour la partie login */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 20px;
  background-color: #f4f4f4;	
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
   background-color: #ffffff;  
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}

label {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

button[type="submit"] {
  padding: 15px 30px;
  font-size: 1.2rem;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

.remember-forgot-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.remember-me-container {
  align-items: center;
  margin-bottom: 10px;
}

.forgot-password-container {
  margin-bottom: 20px;
}

.create-account-container {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.create-account-container a {
  padding: 20px 40px;
  font-size: 1.2rem;
  background-color: #2196F3;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.create-account-container a:hover {
  background-color: #1976D2;
}
