<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title.saleDetail}"></title>
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/admin-panel.css">
	<link rel="icon" href="images/favicon.png"/>
</head>
<body>

<div data-th-replace="~{fragments/fragment-header :: header}"></div>
	
<main>
    <h1 class="page-title" th:text="#{pageTitle.userManagement}"></h1>
    <div class="user-table-container">
    	<div class="user-container">
    	<h2 class="section-title" th:text="#{sectionTitle.userList}"></h2>
    	
	    	<table>
				<thead>
					<tr>
						<th th:text="#{tableHeader.pseudo}"></th>
						<th th:text="#{tableHeader.mail}"></th>
						<th th:text="#{tableHeader.credits}"></th>
						<th th:text="#{tableHeader.rights}"></th>
						<th th:text="#{tableHeader.actions}"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user : ${users}"> 
                        <td th:text="${user.pseudo}">...</td>
                        <td th:text="${user.email}">...</td>
                        <td th:text="${user.credit}">...</td>
						<td th:text="${user.admin ? 'Administrateur' : 'Membre'}">...</td>
						<td class="buttons-container">
                           <th:block th:if="${user.activated}">
                                <a href="#modal2" th:class="'js-modal button desac-button activated'" th:attr="data-user-id=${user.userId}" th:text="#{button.deactivate}"></a>
                            </th:block>
                            <th:block th:unless="${user.activated}">
                                <a href="#modal2" th:class="'js-modal button desac-button desactivated'" th:attr="data-user-id=${user.userId}" th:text="#{button.reactivate}"></a>
                            </th:block>
                            <a href="#modal1" class="js-modal button delete-button" th:attr="data-user-id=${user.userId}" th:text="#{button.delete2}"></a>
						</td>
				</tbody>
			</table>
    	
    	</div>
    	
    </div>
    
    <div th:if="${globalError}" th:text="${globalError}" class="error-message"></div>
    
    <aside id="modal1" class="modal" aria-hidden="true" role="dialog" aria-labelledby="modaltitle" aria-modal="false" style="display: none;"> 
        <div class="modal-wrapper js-modal-stop">
            <div class="modal-content">
                <h2 id="modaltitle" th:text="#{modal.title.confirmDeletion}"></h2>
                <p class="modal-description" th:text="#{modal.description.confirmDeletion}"></p>
                <ul>
                    <li th:text="#{modal.item.cancelCurrentSales}"></li>
                    <li th:text="#{modal.item.cancelFutureSales}"></li>
                    <li th:text="#{modal.item.lossCredits}"></li>
                </ul>
            </div>
            <div class="confirm-container">
                <a href="/" class="confirm-btn" th:text="#{modal.button.confirmDeletion}"></a>
            </div>
            <button class="close-button js-close-modal">
                <img src="/images/closing-cross.svg" alt="">
            </button>
        </div>
    </aside>

    <aside id="modal2" class="modal" aria-hidden="true" role="dialog" aria-labelledby="modaltitle" aria-modal="false" style="display: none;"> 
        <div class="modal-wrapper js-modal-stop">
            <div class="modal-content">
                <h2 id="modaltitle" th:text="#{modal.title.confirmDeletion}"></h2>
                <p class="modal-description" th:text="#{modal.description.deactivateAccount}"></p>
                <ul>
                    <li th:text="#{modal.item.cancelCurrentSales}"></li>
                    <li th:text="#{modal.item.cancelFutureSales}"></li>
                    <li th:text="#{modal.item.preventNewSales}"></li>
                </ul>
            </div>
            <div class="confirm-container">
                <a href="/" class="confirm-btn" th:text="#{modal.button.confirmDeactivation}"></a>
            </div>
            <button class="close-button js-close-modal">
                <img src="/images/closing-cross.svg" alt="">
            </button>
        </div>
    </aside>
     
</main>

<div data-th-replace="~{/fragments/fragment-footer :: footer}"></div>
<script src="/js/navbar.js"></script>
<script src="/js/modal-id.js" defer></script>
</body>
</html>
