<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title.editArticle}"></title>
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/article-create.css">
	<link rel="icon" href="/images/favicon.png"/>
</head>
<body>

<div data-th-replace="~{fragments/fragment-header :: header}"></div>
	
<main>   
    <h1 class="title" th:text="#{title.editArticle2}"></h1>
    <form th:action="@{/auctions/modifyArticle(articleId=${article.articleId})}" method="POST" class="article-create-form" th:object="${article}" enctype="multipart/form-data">
        <div class="inputs-container">
			<div th:if="${!isModifyPossible}" th:text="#{article.modify.impossible}" class="error-message"></div>
            <div class="input-container">
                <label for="inputName" th:text="#{label.article}"></label>
<!--                <input id="inputName" th:field="*{articleName}" type="text" maxlength="30" required>-->
                <input id="inputName" th:field="*{articleName}" type="text">
            </div>
            <div class="input-container">
                <label for="inputDesc" th:text="#{label.description}"></label>
<!--                <textarea id="inputDesc" th:field="*{description}" maxlength="300"></textarea>-->
                <textarea id="inputDesc" th:field="*{description}"></textarea>
            </div>
            <div class="input-container">
                <label for="inputCategory" th:text="#{label.category}"></label>
                <select name="inputCategory" id="inputCategory" th:field="*{category}">
                    <option th:each="item : ${categoriesSession}" th:value="${item.categoryId}" th:text="${item.label}"></option>
                </select>	
            </div>
            <div class="input-container">
                <label for="inputImage" th:text="#{label.photo}"></label>
<!--                <input id="inputPrice" th:field="*{beginningPrice}" type="number" min="0" required>-->
                <input id="inputImage" name="inputImage" type="file" accept="image/png, image/jpeg">
            </div>
            <div class="input-container">
                <label for="inputPrice" th:text="#{label.startingPrice}"></label>
<!--                <input id="inputPrice" th:field="*{beginningPrice}" type="number" min="0" required>-->
                <input id="inputPrice" th:field="*{beginningPrice}" type="number">
            </div>
            <div class="input-container" >
                <label for="inputStartDate" th:text="#{label.startingAuction}"></label>
                <div class="input-dateTime-container">
                    <input id="inputStartDate" name="startDateTemp" type="date" th:value="${startDate}">
                    <input id="inputStartTime" name="startTimeTemp" type="time" th:value="${startTime}">
                </div>
            </div>
            <div class="input-container">
                <label for="inputEndDate" th:text="#{label.endingAuction}"></label>
                <div class="input-dateTime-container">
                    <input id="inputEndDate" name="endDateTemp" type="date" th:value="${endDate}">
                    <input id="inputEndTime" name="endTimeTemp" type="time" th:value="${endTime}">
                </div>
            </div>
            <fieldset class="retrait-input">
                <legend th:text="#{legend.Withdrawal}"></legend>
                <div class="input-container">
                    <label for="inputStreet" th:text="#{label.street}"></label>
<!--                    <input id="inputStreet" type="text" th:field="*{pickupLocation.street}" maxlength="30">-->
                    <input id="inputStreet" type="text" th:field="*{pickupLocation.street}">
                </div>
                <div class="input-container">
                    <label for="inputCpo" th:text="#{label.zipCode}"></label>
<!--                    <input id="inputCpo" type="text" th:field="*{pickupLocation.zipCode}" pattern="^\d{5}$">-->
                    <input id="inputCpo" type="text" th:field="*{pickupLocation.zipCode}">
                </div>
                <div class="input-container">
                    <label for="inputCity" th:text="#{label.city}"></label>
<!--                    <input id="inputCity" type="text" th:field="*{pickupLocation.city}" maxlength="30">-->
                    <input id="inputCity" type="text" th:field="*{pickupLocation.city}">
                </div>
            </fieldset>
            
            <div class="image-test">
            	<img th:src="@{${imageSource}}" alt="image de l'article" class="article-image"/>
            </div>
            <div class="buttons-container">
                <button th:if="${isModifyPossible}" type="submit" class="button button-submit" th:text="#{button.save}"></button>
                <button th:if="${isModifyPossible}" type="button" class="button button-cancel" th:text="#{button.cancel}"></button>
                <a href="#modal1" class="js-modal button button-styled-link" th:if="${isCancelPossible}" th:text="#{button.cancelSale}"></a>
                <button th:if="${!isCancelPossible}" style="visibility:hidden;">placeholder</button>
            </div>
        </div>
        <div th:replace="~{/fragments/errors/fragment-errors-global::frag-errors}"></div>
		<div th:replace="~{/fragments/errors/fragment-error::frag-error(articleName)}"></div>
		<div th:replace="~{/fragments/errors/fragment-error::frag-error(description)}"></div>
		<div th:replace="~{/fragments/errors/fragment-error::frag-error(beginningPrice)}"></div>
		<div th:replace="~{/fragments/errors/fragment-error::frag-error(auctionStartDate)}"></div>
		<div th:replace="~{/fragments/errors/fragment-error::frag-error(auctionEndDate)}"></div>
		<div th:replace="~{/fragments/errors/fragment-error::frag-error(pickupLocation.street)}"></div>
		<div th:replace="~{/fragments/errors/fragment-error::frag-error(pickupLocation.zipCode)}"></div>
		<div th:replace="~{/fragments/errors/fragment-error::frag-error(pickupLocation.city)}"></div>
		
    </form>

    <aside id="modal1" class="modal" aria-hidden="true" role="dialog" aria-labelledby="modaltitle" aria-modal="false" style="display: none;"> 
        <div class="modal-wrapper js-modal-stop">
            <div class="modal-content">
                <h2 id="modaltitle">Êtes vous sûr ?</h2>

                <p class="modal-description">La suppression de l'article entrainera :</p>
                <ul>
                    <li>- L'annulation de la mise en vente de cet article.</li>
                </ul>
            </div>
            <div class="confirm-container">	
                <a th:href="@{/auctions/cancelArticle(articleId=${article.articleId})}" class="confirm-delete">Je confirme la suppression</a>
            </div>
            <button class="close-button js-close-modal">
                <img src="/images/closing-cross.svg" alt="">
            </button>
        </div>

    </aside>

</main>

<div data-th-replace="~{/fragments/fragment-footer :: footer}"></div>
<script src="/js/navbar.js"></script>
<script src="/js/modal.js"></script>
</body>
</html>
