<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head>
<meta charset="UTF-8">
<title>ENI Enchères</title>
<link rel="stylesheet" href="/css/general.css">
<link rel="stylesheet" href="/css/article-create.css">
</head>

<body>

<div data-th-replace="~{fragments/fragment-header :: header}"></div>
	
	<main>
		<h1 class="title">NOUVELLE VENTE</h1>
		
		<form th:action="@{/auctions/newArticle}" method="POST" class="article-create-form" th:object="${article}">
			<div class="inputs-container">
				<div class="article-input">
					<label for="inputName">Article :</label>
					<input id="inputName" th:field="*{articleName}" type="text">
				</div>
				<div class="description-input">
					<label for="inputDesc">Description :</label>
					<textarea id="inputDesc" th:field="*{description}">
					</textarea>
				</div>
				
				<div class="category-input">
					<label for="inputCategory">Catégorie :</label>
					<select name="inputCategory" id="inputCategory" th:field="*{category}">
						<option th:each="item : ${categoriesSession}" th:value="${item.categoryId}" th:text="${item.label}"></option>
					</select>	
					
				</div>
				
				<div class="price-input">
					<label for="inputPrice">Mise à prix :</label>
					<input id="inputPrice" th:field="*{beginningPrice}" type="number">
				</div>
				
				<div class="start-input">
					<label for="inputStartDate">Début de l'enchère :</label>
					<div class="input-dateTime-container">
						<input id="inputStartDate" th:field="*{startDateTemp}" type="date">
						<input id="inputStartDateTime" th:field="*{startTimeTemp}" type="time">
					</div>
				</div>
				<div class="finish-input">
					<label for="inputEndDate">Fin de l'enchère :</label>
					<div class="input-dateTime-container">
						<input id="inputEndDate" th:field="*{endDateTemp}" type="date">
						<input id="inputEndDateTime" th:field="*{endTimeTemp}" type="time">
					</div>
				</div>
				
				<fieldset class="retrait-input">
					<legend>Retrait</legend>
					<div class="street-input">
						<label for="inputStreet">Rue :</label>
						<input id="inputStreet" type="text" th:field="*{pickupLocation.street}">
					</div>
					<div class="cpo-input">
						<label for="inputCpo">Code Postal :</label>
						<input id="inputCpo" type="text" th:field="*{pickupLocation.zipCode}">
					</div>
					<div class="city-input">
						<label for="inputCity">Ville :</label>
						<input id="inputCity" type="text" th:field="*{pickupLocation.city}">
					</div>
				</fieldset>
				
				<div class="buttons-container">
					<button type="submit">Enregistrer</button>
					<button>Annuler</button>
					<button style="visibility:hidden;">Annuler la vente</button>
				</div>
				
		
		</form>
	
	</main>
	
	
<div data-th-replace="~{/fragments/fragment-footer :: footer}"></div>


</body>


