<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">

<head>
	<meta charset="UTF-8">
	<title>ENI Enchères</title>
	<link rel="stylesheet" href="/css/general.css">
	<link rel="stylesheet" href="/css/auctions.css">
	<link rel="icon" href="images/favicon.png" />
</head>

<body>

	<div data-th-replace="~{fragments/fragment-header :: header}"></div>

	<main>
		
		<div>
			<a th:href="@{|auctions?language=en|}" data-th-text="#{label.lang.en}"></a>
			<a th:href="@{|auctions?language=fr|}" data-th-text="#{label.lang.fr}"></a>
		</div>
	
		<h1 class="title" th:text="#{h1.auctions}"></h1>
		<h2 class="subtitle" th:text="#{h2.auctions}"></h2>
		<section class="filter-container">
			<form th:action="@{/auctions}" method="post" th:object="${criteria}">
				<div class="inputs-container">
					<input id="inputSearch" type="text" th:field="*{wordToFind}"
						placeholder="Le nom de l'article contient ...">
					<div class="category">
						<label for="inputCategory" th:text="#{label.category}"></label>
						<select th:field="*{category}" id="inputCategory">
							<option value="0">Toutes</option>
							<option th:each="cat:${categoriesSession}" th:value="${cat.categoryId}"
								th:text="${cat.label}" th:selected="${cat.categoryId} == *{category.categoryId}">[[${cat.categoryId}]] == [[*{category.categoryId}]]</option>
						</select>
					</div>

					<div class="achat-vente-container" sec:authorize="isAuthenticated()">
						<div class="achats-container">
							<div class="achat-main-check">
								<input type="radio" th:field="*{radioButton}" id="purchases" value="purchases" th:checked="*{radioButton}=='purchases'">
								<label for="achats-ventes">Achats</label>
							</div>
							<div class="sub-container">
								<div class="subachat-1">
									<input type="checkbox" id="open" th:field="*{filters['open']}" value="true" th:checked="*{filters.get('open')}" disabled="true">
									<label for="open">enchères ouvertes</label>
								</div>
								<div class="subachat-2">
									<input type="checkbox" id="current" th:field="*{filters['current']}" value="true" th:checked="*{filters.get('current')}" disabled="true">
									<label for="current">mes enchères en cours</label>
								</div>
								<div class="subachat-3">
									<input type="checkbox" id="won" th:field="*{filters['won']}" value="true" th:checked="*{filters.get('won')}" disabled="true">
									<label for="won">mes enchères remportées</label>
								</div>
							</div>
						</div>
						<div class="ventes-container">
							<div class="ventes-main-check">
								<input type="radio" th:field="*{radioButton}" id="sales" value="sales" th:checked="*{radioButton}=='sales'">
								<label for="achats-ventes">Ventes</label>
							</div>
							<div class="sub-container">
								<div class="subvente-1">
									<input type="checkbox" id="currentVente" th:field="*{filters['currentVente']}" value="true" th:checked="*{filters.get('currentVente')}" disabled="true">
									<label for="currentVente">mes enchères en cours</label>
								</div>
								<div class="subvente-2">
									<input type="checkbox" id="notstarted" th:field="*{filters['notstarted']}" value="true" th:checked="*{filters.get('notstarted')}" disabled="true">
									<label for="notstarted">ventes non débutées</label>
								</div>
								<div class="subvente-3">
									<input type="checkbox" id="finished" th:field="*{filters['finished']}" value="true" th:checked="*{filters.get('finished')}" disabled="true">
									<label for="finished">ventes terminées</label>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="button-container">
					<button type="submit" th:text="#{label.search}"></button>
				</div>
			</form>
		</section>
		<section class="articles-cards-container">
			<div th:each="art : ${articles}" class="article-card">
				<h3><a th:href="@{/bid(articleId=${art.articleId})}" th:text="${art.articleName}"></a></h3>
				<p th:text="'Prix : '+${art.currentPrice}+' points'"></p>
				<p th:text="'Fin de l\'enchère : '+${#temporals.format(art.auctionEndDate, 'dd-MM-yyyy HH:mm')}"></p>
				<p sec:authorize="!isAuthenticated()" th:text="'Vendeur : '+${art.seller.pseudo}"></p>
				<p sec:authorize="isAuthenticated()">Vendeur : <a th:href="@{/profil(userId=${art.seller.userId})}"
						th:text="${art.seller.pseudo}"></a></p>
			</div>
		</section>
		<!-- Pagination Controls -->
        <div th:if="${articles.totalPages>0}" class="pagination-controls" th:each="pageNumber:${pageNumbers}">
			<a th:href="@{/auctions(size=${articles.size}, currentPage=${pageNumber}, criteria=${criteria})}" th:text="${pageNumber}" th:class="${pageNumber==articles.number+1}?active"></a>
<!--            <button th:if="${currentPage > 0}" th:href="@{/auctions(page=${currentPage - 1})}">Précédent</button>-->
<!--            <span>Page <span th:text="${currentPage + 1}"></span> sur <span th:text="${totalPages}"></span></span>-->
<!--            <button th:if="${currentPage + 1 < totalPages}" th:href="@{/auctions(page=${currentPage + 1})}">Suivant</button>-->
        </div>
	</main>

	<div data-th-replace="~{/fragments/fragment-footer :: footer}"></div>

	<script src="/js/checkbox.js"></script>
</body>

</html>
