<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head>
<meta charset="UTF-8">
<title>ENI Enchères</title>
<link rel="stylesheet" href="/css/general.css">
<link rel="stylesheet" href="/css/auctions.css">
</head>

<body>

<div data-th-replace="~{fragments/fragment-header :: header}"></div>
	
	<main>
		<h1 class="title">LISTE DES ENCHERES</h1>
		<h2 class="subtitle">Filtres :</h2>
		<section class="filter-container">
			<form th:action="@{/auctions}" method="post" th:object="${article}">
				<div class="inputs-container">
					
					<input id="inputSearch" type="text" th:field="*{articleName}" placeholder="Le nom de l'article contient ...">
					
					<div class="category">
						<label for="inputCategory">Catégorie :</label>
						<select th:field="*{category}" id="inputCategory">
							<option value="0">Toutes</option>
							<option th:each="cat:${categoriesSession}" th:value="${cat.categoryId}" th:text="${cat.label}"></option>
<!--							<option value="0">Informatique</option>-->
<!--							<option value="1">Ameublement</option>-->
<!--							<option value="2">Vêtement</option>-->
<!--							<option value="3">Sport&Loisirs</option>-->
						</select>	
					</div>
					
					<div class="achat-vente-container" sec:authorize="isAuthenticated()">
						<div class="achats-container">
							<div class="achat-main-check">
								<input type="radio" id="achats-ventes" name="achats-ventes">
								<label for="achats-ventes">Achats</label>
							</div>
							<div class="sub-container">
								<div class="subachat-1">
									<input type="checkbox" id="open" name="open">
	    							<label for="open">enchères ouvertes</label>
								</div>
								<div class="subachat-2">
									<input type="checkbox" id="current" name="current">
	    							<label for="current">mes enchères en cours</label>
								</div>
								<div class="subachat-3">
									<input type="checkbox" id="won" name="won">
	    							<label for="won">mes enchères remportées</label>
								</div>
							</div>
						</div>
						<div class="ventes-container">
							<div class="ventes-main-check">
								<input type="radio" id="achats-ventes" name="achats-ventes">
								<label for="achats-ventes">Ventes</label>
							</div>
							<div class="sub-container">
								<div class="subvente-1">
									<input type="checkbox" id="currentVente" name="currentVente">
	    							<label for="currentVente">mes enchères en cours</label>
								</div>
								<div class="subvente-2">
									<input type="checkbox" id="notstarted" name="notstarted">
	    							<label for="notstarted">ventes non débutées</label>
								</div>
								<div class="subvente-3">
									<input type="checkbox" id="finished" name="finished">
	    							<label for="finished">ventes terminées</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			
				<div class="button-container">
					<button type="submit">Rechercher</button>
				</div>
			</form>
		</section>
		<section class="articles-cards-container">
			<div th:each="art:${articles}">
				<h3 th:text="${art.articleName}"></h3>
				<p th:text="'Prix : '+${art.finalPrice}+' points'"></p>
				<p th:text="'Fin de l\'enchère : '+${art.auctionEndDate}"></p>
				<p th:text="'Vendeur : '+${art.seller.name}"></p>
			</div>
		</section>
	</main>
	
	
<div data-th-replace="~{/fragments/fragment-footer :: footer}"></div>


</body>


