<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head>
<meta charset="UTF-8">
<title>ENI Enchères</title>
<link rel="stylesheet" href="/css/general.css">
<link rel="stylesheet" href="/css/auctions.css">
<link rel="icon" href="images/favicon.png"/>
</head>

<body>

<div data-th-replace="~{fragments/fragment-header :: header}"></div>
	
	<main>
		<h1 class="title">LISTE DES ENCHERES</h1>
		<h2 class="subtitle">Filtres :</h2>
		<section class="filter-container">
			<form th:action="@{/auctions}" method="post" th:object="${article}">
				<div class="inputs-container">
					
					<input id="inputSearch" type="text" th:field="*{articleName}" placeholder="Le nom de l'article contient ...">
					
					<div class="category">
						<label for="inputCategory">Catégorie :</label>
						<select th:field="*{category}" id="inputCategory">
							<option value="0">Toutes</option>
							<option th:each="cat:${categoriesSession}" th:value="${cat.categoryId}" th:text="${cat.label}"></option>
						</select>	
					</div>
					
					<div class="achat-vente-container" sec:authorize="isAuthenticated()">
						<div class="achats-container">
							<div class="achat-main-check">
								<input type="radio" id="achats-ventes" name="achats-ventes" value="purchases" th:checked="${purchases}">
								<label for="achats-ventes">Achats</label>
							</div>
							<div class="sub-container">
								<div class="subachat-1">
									<input type="checkbox" id="open" name="open" th:checked="${open}">
	    							<label for="open">enchères ouvertes</label>
								</div>
								<div class="subachat-2">
									<input type="checkbox" id="current" name="current" th:checked="${current}">
	    							<label for="current">mes enchères en cours</label>
								</div>
								<div class="subachat-3">
									<input type="checkbox" id="won" name="won" th:checked="${won}">
	    							<label for="won">mes enchères remportées</label>
								</div>
							</div>
						</div>
						<div class="ventes-container">
							<div class="ventes-main-check">
								<input type="radio" id="achats-ventes" name="achats-ventes" value="sales"  th:checked="${sales}">
								<label for="achats-ventes">Ventes</label>
							</div>
							<div class="sub-container">
								<div class="subvente-1">
									<input type="checkbox" id="currentVente" name="currentVente" th:checked="${currentVente}">
	    							<label for="currentVente">mes enchères en cours</label>
								</div>
								<div class="subvente-2">
									<input type="checkbox" id="notstarted" name="notstarted" th:checked="${notstarted}">
	    							<label for="notstarted">ventes non débutées</label>
								</div>
								<div class="subvente-3">
									<input type="checkbox" id="finished" name="finished" th:checked="${finished}">
	    							<label for="finished">ventes terminées</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			
				<div class="button-container">
					<button type="submit">Rechercher</button>
				</div>
			</form>
		</section>
		<section class="articles-cards-container">
			<div th:each="art:${articles}" class="article-card">
				<h3><a th:href="@{/bid(articleId=${art.articleId})}" th:text="${art.articleName}"></a></h3>
				<p th:text="'Prix : '+${art.currentPrice}+' points'"></p>
				<p th:text="'Fin de l\'enchère : '+${#temporals.format(art.auctionEndDate, 'dd-MM-yyyy HH:mm')}"></p>
				<p sec:authorize="!isAuthenticated()" th:text="'Vendeur : '+${art.seller.pseudo}"></p>
				<p sec:authorize="isAuthenticated()">Vendeur : <a th:href="@{/profil(userId=${art.seller.userId})}" th:text="${art.seller.pseudo}"></a></p>
			</div>
		</section>
	</main>
	
	
<div data-th-replace="~{/fragments/fragment-footer :: footer}"></div>


</body>


