<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>ENI Enchères - Nouvelle Vente</title>
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/bid-article-detail.css">
</head>
<body>

<div data-th-replace="~{fragments/fragment-header :: header}"></div>
	
<main>
    <h1 class="title">DÉTAIL VENTE</h1>
        <div class="fields-container">
            <div class="field-container-title">
           	 <span class="article-name" th:text="${articleDisplay.articleName}"></span>
            </div>
            <div class="field-container">
                <label for="desc">Description :</label>
                <textarea id="desc" th:text="*{articleDisplay.description}" readonly></textarea>
            </div>
            <div class="field-container">
                <label for="category">Catégorie :</label>
                <span th:text="${articleDisplay.category.label}"></span>
            </div>
            <div class="field-container">
                <label for="currentPrice">Meilleure offre :</label>
                
                <span th:if="${isBeforeStart}" th:text="|L'enchère n'a pas encore commencée|"></span>
             
              	<span th:if="${articleDisplay.currentBuyer.userId == 0 && isBidPossible}" th:text="'Aucune offre pour le moment'"></span>
                <span th:if="${articleDisplay.currentBuyer.userId != 0 && isBidPossible}" th:text="${articleDisplay.currentPrice} + ' pts par '+ ${articleDisplay.currentBuyer.pseudo}"></span>
       
           		<span th:if="${articleDisplay.currentBuyer.userId == 0 && isAuctionFinished}" th:text="|L'enchère est terminée !|"></span>
           		<span th:if="${articleDisplay.currentBuyer.userId != 0 && isAuctionFinished}" th:text="'Enchère remportée par '+ ${articleDisplay.currentBuyer.pseudo}"></span>
           		
              
            </div>
            <div class="field-container">
                <label for="beginningPrice">Mise à prix :</label>
                <span th:text="${articleDisplay.beginningPrice} +' points'"></span>
            </div>
            <div class="field-container">
                <label for="startDate">Début de l'enchère :</label>
                <span th:text="${startDateDisplay}"></span>
            </div>
            <div class="field-container">
                <label for="endDate">Fin de l'enchère :</label>
                <span th:text="${endDateDisplay}"></span>
            </div>
  
            <div class="field-container">
                <label for="pickupLocation">Retrait :</label>
                <div class="pickupLocation-container">
	                <span th:text="${articleDisplay.pickupLocation.street}"></span>
	                <br>
	                <span th:text="${articleDisplay.pickupLocation.zipCode}"></span>
	                <span th:text="${articleDisplay.pickupLocation.city}"></span>
                </div>
            </div>
            
            <div class="field-container">
                <label for="seller">Vendeur :</label>
                <span th:text="${articleDisplay.seller.pseudo}"></span>
            </div>
           
            <div class="bid-offer-container" th:if="${isBidPossible}">
	            <form th:action="@{/bid(articleId=${articleDisplay.articleId})}" method="POST">
	                <label for="bid-offer">Ma proposition :</label>
	                <input id="bid-offer" type="number" name="bidOffer" min="0"/>
	                <button type="submit" class="button-submit">Enchérir</button>
	            </form>
            </div>
            
            <div class="modify-auction-container" th:if="${isChangePossible && articleDisplay.seller.userId==userSession.userId}">
            	<a class="button-styled-link" th:href="@{/auctions/modifyArticle(articleId=${articleDisplay.articleId})}">Modifier la vente</a>
            	<p class="button-styled-link">futur bouton suppression</p>
            </div>
        </div>
        <!-- 
        <div th:replace="~{/fragments/errors/fragment-errors-global::frag-errors}"></div>
        <div th:replace="~{/fragments/errors/fragment-error::frag-error(notEnoughCredit)}"></div>
		<div th:replace="~{/fragments/errors/fragment-error::frag-error(offerToLow)}"></div>
		<div th:replace="~{/fragments/errors/fragment-error::frag-error(auctionClosed)}"></div>
         -->
		
</main>

<div data-th-replace="~{/fragments/fragment-footer :: footer}"></div>
<script src="/js/navbar.js"></script>
</body>
</html>
