<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head>
<meta charset="utf-8">
<title th:text="#{title.error}"></title>
<link rel="stylesheet" th:href="@{/css/general.css}" />

</head>
<body>


<div data-th-replace="~{fragments/fragment-clean-header :: header-clean}"></div>

<main>
	<div class="error-card-container">
		<h1 class="error-message title" data-th-text="Erreur + ${status}"></h1>
		<form>
			<ul class="flex-outer cards">
				<li data-th-switch="${status}">
					<label data-th-case="403" th:text="#{error.403}"></label>
					<label data-th-case="404" th:text="#{error.404}"></label>
					<label data-th-case="500" th:text="#{error.500}"></label>
					<label data-th-case="*" th:text="#{error.*}"></label>
				</li>
				<li><a class="button" data-th-href="@{/auctions}" th:text="#{label.home}"></a></li>
			</ul>
		</form>
</div>
</main>


<div data-th-replace="~{/fragments/fragment-footer :: footer}"></div>


</body>
</html>