<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>ENI Enchères - Connexion</title>
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>

<div data-th-replace="~{fragments/fragment-header :: header}"></div>

<main>
    <h1 class="title">SE CONNECTER</h1>
    <form th:action="@{/login}" method="post">
		<div th:if="${param.error}" class="error-message">Erreur : login ou mot de passe incorrect</div>
        <div class="input-container">
            <label for="username">Identifiant :</label>
<!--            <input type="text" id="username" name="username" maxlength="30"  required>-->
            <input type="text" id="username" name="username">
        </div>
        <div class="input-container">
            <label for="password">Mot de passe :</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="button-container">
            <button type="submit">Connexion</button>
            <div class="remember-forgot-container">
                <div class="remember-me-container">
                    <input type="checkbox" id="remember-me" name="remember-me">
                    <label for="remember-me">Se souvenir de moi</label>
                </div>
                <div class="forgot-password-container">
                    <a href="/forgot-password">Mot de passe oublié ?</a>
                </div>
            </div>
        </div>
    </form>
    <div class="create-account-container">
        <a th:href="@{/signup}">Créer un compte</a>
    </div>
</main>

<div data-th-replace="~{/fragments/fragment-footer :: footer}"></div>

</body>
</html>
