<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ENI Enchères - Profil</title>
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/profil.css">
	<link rel="icon" href="images/favicon.png"/>
</head>
<body>

<div th:replace="~{fragments/fragment-header :: header}"></div>

<main>
    <h1 class="title">PROFIL</h1>
    <div class="profil-info">
        <h2 class="profil-username" th:text="${userDisplay.pseudo}"></h2>
        <div class="profil-field">
            <label for="nom">Nom :</label>
            <span th:text="${userDisplay.name}"></span>
        </div>
        <div class="profil-field">
            <label for="prenom">Prénom :</label>
            <span th:text="${userDisplay.firstName}">Prénom</span>
        </div>
        <div class="profil-field">
            <label for="email">Email :</label>
            <span th:text="${userDisplay.email}">Email</span>
        </div>
        <div class="profil-field">
            <label for="telephone">Téléphone :</label>
            <span th:text="${userDisplay.phoneNumber}">Téléphone</span>
        </div>
        <div class="profil-field">
            <label for="rue">Rue :</label>
            <span th:text="${userDisplay.street}">Rue</span>
        </div>
        <div class="profil-field">
            <label for="codePostal">Code Postal :</label>
            <span th:text="${userDisplay.zipCode}">Code Postal</span>
        </div>
        <div class="profil-field">
            <label for="ville">Ville :</label>
            <span th:text="${userDisplay.city}">Ville</span>
        </div>
        <div class="modify-profile-container" th:if="${userDisplay.userId == userSession.userId}">
  			<a th:href="@{/profil/modify}">Modifier mon profil</a>
		</div>    
    </div>
</main>

<div th:replace="~{fragments/fragment-footer :: footer}"></div>

</body>
</html>
