<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ENI Enchères - Profil</title>
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/profil.css">
</head>
<body>

<div th:replace="fragments/fragment-header :: header"></div>

<main>
    <h1 class="title">PROFIL</h1>
    <div class="profil-info">
        <h2 class="profil-username">Pseudo</h2>
        <div class="profil-field">
            <label for="nom">Nom :</label>
            <span>Nom</span>
        </div>
        <div class="profil-field">
            <label for="prenom">Prénom :</label>
            <span>Prénom</span>
        </div>
        <div class="profil-field">
            <label for="email">Email :</label>
            <span>Email</span>
        </div>
        <div class="profil-field">
            <label for="telephone">Téléphone :</label>
            <span>Téléphone</span>
        </div>
        <div class="profil-field">
            <label for="rue">Rue :</label>
            <span>Rue</span>
        </div>
        <div class="profil-field">
            <label for="codePostal">Code Postal :</label>
            <span>Code Postal</span>
        </div>
        <div class="profil-field">
            <label for="ville">Ville :</label>
            <span>Ville</span>
        </div>
        <div class="modify-profile-container">
  			<a href="/profil">Modifier mon profil</a>
		</div>    
    </div>
</main>

<div th:replace="fragments/fragment-footer :: footer"></div>

</body>
</html>
