<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title.profile}"></title>
   	<link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/profil.css">
	<link rel="icon" href="images/favicon.png"/>
</head>
<body>

<div th:replace="~{fragments/fragment-header :: header}"></div>

<main>
    <h1 class="title" th:text="#{title.profile2}"></h1>
	<div class="profil-info">
        <h2 class="profil-username" th:text="${userDisplay.pseudo}"></h2>
        <div class="profil-field">
            <label for="nom" th:text="#{label.lastname}"></label>
            <span th:text="${userDisplay.name}"></span>
        </div>
        <div class="profil-field">
            <label for="prenom"  th:text="#{label.firstname}"></label>
            <span th:text="${userDisplay.firstName}"></span>
        </div>
        <div class="profil-field">
            <label for="email" th:text="#{label.email}"></label>
            <span th:text="${userDisplay.email}"></span>
        </div>
        <div class="profil-field">
            <label for="telephone" th:text="#{label.phone}"></label>
            <span th:text="${userDisplay.phoneNumber}"></span>
        </div>
        <div class="profil-field">
            <label for="rue" th:text="#{label.street}"></label>
            <span th:text="${userDisplay.street}"></span>
        </div>
        <div class="profil-field">
            <label for="codePostal" th:text="#{label.zipCode}"></label>
            <span th:text="${userDisplay.zipCode}">Code Postal</span>
        </div>
        <div class="profil-field">
            <label for="ville" th:text="#{label.city}"></label>
            <span th:text="${userDisplay.city}"></span>
        </div>
        <div class="modify-profile-container" th:if="${userDisplay.userId == userSession.userId}">
  			<a th:href="@{/profil/modify}" th:text="#{label.modifyProfile}"></a>
		</div>    
    </div>
</main>

<div th:replace="~{fragments/fragment-footer :: footer}"></div>

</body>
</html>
