<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head>
<meta charset="UTF-8">
<title>ENI Enchères</title>
<link rel="stylesheet" href="/css/general.css">
<link rel="stylesheet" href="/css/signup.css">
	<link rel="icon" href="images/favicon.png"/>


</head>

<body>

<div data-th-replace="~{fragments/fragment-header :: header}"></div>
	
	<main>
		<h1 class="title">Mon Profil</h1>
		
		<form th:action="@{/profil/modify}" method="POST" th:object="${user}" class="user-create-form">
			<div class="inputs-container">
				<div class="pseudo-input">
					<label for="inputPseudo">Pseudo :</label>
<!--					<input id="inputPseudo" th:field="*{pseudo}" type="text" pattern="^\w+$" maxlength="30" required>-->
					<input id="inputPseudo" th:field="*{pseudo}" type="text">
				</div>
				<div class="lastname-input">
					<label for="inputLastName">Nom :</label>
<!--					<input id="inputLastName" th:field="*{name}" type="text" maxlength="30" required>-->
					<input id="inputLastName" th:field="*{name}" type="text">
				</div>
				<div class="firstname-input">
					<label for="inputFirstName">Prénom :</label>
<!--					<input id="inputFirstName" th:field="*{firstName}" type="text" maxlength="30">-->
					<input id="inputFirstName" th:field="*{firstName}" type="text">
				</div>
				
				<div class="email-input">
					<label for="inputEmail">Email :</label>
<!--					<input id="inputEmail" th:field="*{email}" type="email" required>-->
					<input id="inputEmail" th:field="*{email}" type="email">
				</div>
				
				<div class="telephone-input">
					<label for="inputTelephone">Téléphone :</label>
<!--					<input id="inputTelephone" th:field="*{phoneNumber}" type="text" pattern="^(0|\+33|0033)[1-9]\d{8}$">-->
					<input id="inputTelephone" th:field="*{phoneNumber}" type="text">
				</div>
				
				<div class="street-input">
					<label for="inputStreet">Rue :</label>
<!--					<input id="inputStreet" th:field="*{street}" type="text" maxlength="30">-->
					<input id="inputStreet" th:field="*{street}" type="text">
				</div>
				
				<div class="cpo-input">
					<label for="inputCpo">Code postal :</label>
<!--					<input id="inputCpo" th:field="*{zipCode}" type="text" pattern="^\d{5}$">-->
					<input id="inputCpo" th:field="*{zipCode}" type="text">
				</div>
				
				<div class="city-input">
					<label for="inputCity">Ville :</label>
<!--					<input id="inputCity" th:field="*{city}" type="text" maxlength="30">-->
					<input id="inputCity" th:field="*{city}" type="text">
				</div>
				
				<div class="currentPassword-input">
					<label for="inputCurrentPassword">Mot de passe actuel :</label>
					<input id="inputCurrentPassword" name="currentPassword" type="password">
				</div>
				
				<div class="empty-container">
				</div>
				
				<div class="password-input">
					<label for="inputUpdatedPassword">Nouveau mot de passe :</label>
					<input id="inputUpdatedPassword" name="updatedPassword" type="password">
				</div>
				<div class="confirm-password-input">
					<label for="inputPasswordConfirm">Confirmation : </label>
					<input id="inputPasswordConfirm" th:field="*{passwordConfirm}" type="password">
				</div>
			</div>
			
			<div class="buttons-container">
				<button type="submit" class="button">Enregistrer</button>
				<a href="#modal1" class="js-modal button">Supprimer mon compte</a>
			</div>
			
			<div th:replace="~{/fragments/errors/fragment-errors-global::frag-errors}"></div>
			<div th:replace="~{/fragments/errors/fragment-error::frag-error(pseudo)}"></div>
			<div th:replace="~{/fragments/errors/fragment-error::frag-error(name)}"></div>
			<div th:replace="~{/fragments/errors/fragment-error::frag-error(firstName)}"></div>
			<div th:replace="~{/fragments/errors/fragment-error::frag-error(email)}"></div>
			<div th:replace="~{/fragments/errors/fragment-error::frag-error(phoneNumber)}"></div>
			<div th:replace="~{/fragments/errors/fragment-error::frag-error(street)}"></div>
			<div th:replace="~{/fragments/errors/fragment-error::frag-error(zipCode)}"></div>
			<div th:replace="~{/fragments/errors/fragment-error::frag-error(city)}"></div>
		
			<div th:if="${globalError}" th:text="${globalError}" class="error-message"></div>
		</form>

		<aside id="modal1" class="modal" aria-hidden="true" role="dialog" aria-labelledby="modaltitle" aria-modal="false" style="display: none;"> 
			<div class="modal-wrapper js-modal-stop">
				<div class="modal-content">
					<h2 id="modaltitle">Êtes vous sûr ?</h2>

					<p class="modal-description">La suppression  de votre compte entrainera :</p>
					<ul>
						<li>- L'annulation des ventes/enchères concernant vos articles en cours de vente.</li>
						<li>- L'annulation des ventes de vos articles qui n'ont pas encore commencées.</li>
						<li>- La perte de tous vos crédits</li>
					</ul>
				</div>
				<div class="confirm-container">	
					<a th:href="@{/profil/deleteAccount(userId=${userSession.userId})}" class="confirm-delete">Je confirme la suppression</a>
				</div>
				<button class="close-button js-close-modal">
					<img src="/images/closing-cross.svg" alt="">
				</button>
			</div>

		</aside>
	
	</main>
	
	
<div data-th-replace="~{/fragments/fragment-footer :: footer}"></div>

<script src="/js/modal.js"></script>
</body>

</html>

