<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title.resetPassword}"></title>
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/reset-password.css">
    <link rel="icon" href="images/favicon.png"/>
</head>
<body>
<div data-th-replace="~{fragments/fragment-header :: header}"></div>

<main>

    <div>
        <a th:href="@{/reset-password(language='en')}" data-th-text="#{label.lang.en}"></a>
        <a th:href="@{/reset-password(language='fr')}" data-th-text="#{label.lang.fr}"></a>
    </div>

    <h1 class="title" th:text="#{label.resetPassword}"></h1>
    <form th:action="@{/reset-password}" method="post">
        <input type="hidden" name="token" th:value="${token}" />

        <div class="input-container">
            <label for="password" th:text="#{label.newPassword}"></label>
            <input type="password" id="password" name="password" required>
        </div>

        <div class="input-container">
            <label for="confirmPassword" th:text="#{label.confirmNewPassword}"></label>
            <input type="password" id="confirmPassword" name="confirmPassword" required>
        </div>
        
        <div class="button-container">
            <button type="submit" th:text="#{button.resetPassword}"></button>
        </div>
    </form>
    
    <div th:if="${message}" class="message-container">
        <p th:text="${message}"></p>
    </div>

</main>

<div data-th-replace="~{fragments/fragment-footer :: footer}"></div>
<script src="/js/navbar.js"></script>
</body>
</html>
