<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head>
<meta charset="UTF-8">
<title>ENI Enchères</title>
<link rel="stylesheet" href="/css/general.css">
<link rel="stylesheet" href="/css/signup.css">
	<link rel="icon" href="images/favicon.png"/>
</head>

<body>

<div data-th-replace="~{fragments/fragment-header :: header}"></div>
	
	<main>
		<h1 class="title">Mon Profil</h1>
		
		<form th:action="@{/signup}" method="POST" th:object="${user}" class="user-create-form">
			<div class="inputs-container">
				<div class="pseudo-input">
					<label for="inputPseudo">Pseudo :</label>
<!--					<input id="inputPseudo" th:field="*{pseudo}" type="text" pattern="^\w+$" maxlength="30" required>-->
					<input id="inputPseudo" th:field="*{pseudo}" type="text">
				</div>
				<div class="lastname-input">
					<label for="inputLastName">Nom :</label>
<!--					<input id="inputLastName" th:field="*{name}" type="text" maxlength="30" required>-->
					<input id="inputLastName" th:field="*{name}" type="text">
				</div>
				<div class="firstname-input">
					<label for="inputFirstName">Prénom :</label>
<!--					<input id="inputFirstName" th:field="*{firstName}" type="text" maxlength="30">-->
					<input id="inputFirstName" th:field="*{firstName}" type="text">
				</div>
				
				<div class="email-input">
					<label for="inputEmail">Email :</label>
<!--					<input id="inputEmail" th:field="*{email}" type="email" required>-->
					<input id="inputEmail" th:field="*{email}" type="email">
				</div>
				
				<div class="telephone-input">
					<label for="inputTelephone">Téléphone :</label>
<!--					<input id="inputTelephone" th:field="*{phoneNumber}" type="text" pattern="^(0|\+33|0033)[1-9]\d{8}$">-->
					<input id="inputTelephone" th:field="*{phoneNumber}" type="text">
				</div>
				
				<div class="street-input">
					<label for="inputStreet">Rue :</label>
<!--					<input id="inputStreet" th:field="*{street}" type="text" maxlength="30">-->
					<input id="inputStreet" th:field="*{street}" type="text">
				</div>
				
				<div class="cpo-input">
					<label for="inputCpo">Code postal :</label>
<!--					<input id="inputCpo" th:field="*{zipCode}" type="text" pattern="^\d{5}$">-->
					<input id="inputCpo" th:field="*{zipCode}" type="text">
				</div>
				
				<div class="city-input">
					<label for="inputCity">Ville :</label>
<!--					<input id="inputCity" th:field="*{city}" type="text" maxlength="30">-->
					<input id="inputCity" th:field="*{city}" type="text">
				</div>
				
				<div class="password-input">
					<label for="inputPassword">Mot de passe :</label>
					<input id="inputPassword" th:field="*{password}" type="password">
				</div>
				<div class="confirm-password-input">
					<label for="inputPasswordConfirm">Confirmation : </label>
					<input id="inputPasswordConfirm" th:field="*{passwordConfirm}" type="password">
				</div>
				
			</div>
			
			<div class="buttons-container">
				<button type="submit" class="button create">Créer</button>
				<a th:href="@{/}" class="button cancel">Annuler</a>
			</div>
			<div th:replace="~{/fragments/errors/fragment-errors-global::frag-errors}"></div>
			<div th:replace="~{/fragments/errors/fragment-error::frag-error(pseudo)}"></div>
			<div th:replace="~{/fragments/errors/fragment-error::frag-error(name)}"></div>
			<div th:replace="~{/fragments/errors/fragment-error::frag-error(firstName)}"></div>
			<div th:replace="~{/fragments/errors/fragment-error::frag-error(email)}"></div>
			<div th:replace="~{/fragments/errors/fragment-error::frag-error(phoneNumber)}"></div>
			<div th:replace="~{/fragments/errors/fragment-error::frag-error(street)}"></div>
			<div th:replace="~{/fragments/errors/fragment-error::frag-error(zipCode)}"></div>
			<div th:replace="~{/fragments/errors/fragment-error::frag-error(city)}"></div>
			
<!--			<div th:if="${errorMessage}" class="error-message" style="color: red;">-->
<!--                <p th:text="${errorMessage}"></p>-->
<!--            </div>-->
		
		</form>
	
	</main>
	
	
<div data-th-replace="~{/fragments/fragment-footer :: footer}"></div>


</body>


